* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', 'sans-serif';
    background-color: #EFD8C8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.8rem;
    background-color: orangered;
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li {
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

.menu>button {
    background-color: white;
    color: orangered;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parent-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    font-family: 'poppins', 'sans-serif';
}

.image-item>img {
    margin-top: 2.5rem;
    height: 100%;
    border-radius: 10px;
}   

.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    gap: 1rem;
    font-family: 'poppins', 'sans-serif';
}

.btn-container button {
    border: none;
    padding: 0.8rem 1rem;
    font-weight: bold;
    background-color: orangered;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: large;

}

.hero {
    background-color: white;
    height: 100vh;
    margin-top: 4.8rem;

}

.child-item {
    margin-left: 6rem;

}

.child-item h1 {
    font-size: 5rem;
    color: orangered;
}

.child-item p {
    font-size: 1.4rem;
    color: black;
}

.image-item {
  margin-left:8rem;
}

.flex-container1 {
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
}

.card {
    border: 3px solid orangered;
    margin: 1rem;
    width: 20%;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(14, 12, 15, 0.018)
}
.card>p {
    line-height: 30px;
    font-family:"Poppins", sans-serif;
}

.card>h1 {
    text-align: center;
    color: orangered;
    font-size: 2rem;
}

section {
    padding: 2rem;
    background-color: #EFD8C8;
    height: 100vh;
}

.focal-sectors {
    padding: 0rem;
    margin-left: 2rem;
  
}


.Logo {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.focal-sector-header {
    text-align: center;
    font-size: 2rem;
    color: orangered;
    font-weight: bold;
    margin: 2rem 3rem;

}

.focal-sector-header p {
    font-size: 1.2rem;
    color: black;
}
.hero2 {
    background-color: white;
    height: 100vh;
    margin-top: 4.8rem;

}

.parent-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    font-family: 'poppins', 'sans-serif';
}


.child-item2 {
    margin-left: 6rem;

}

.child-item2 h1 {
    font-size: 5rem;
    color: orangered;
}

.child-item2 p {
    font-size: 1.4rem;
    color: black;
}

.image-item2 {
  margin-left:1rem;
}


